.group{
  margin-top: 1px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.group div{
  width: 190px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.buttons-for button{
  display: block;
  margin-left: -29px;
  margin-top: 5px;
}

.likee{
  position: relative;
  margin-top: -54px;
  margin-left: 70px;
}

